@charset "UTF-8";

:root {
    --cor01: #222542;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--cor01)
}

.container {
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    background-color: aliceblue;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}
h1 {
    text-align: left;
    text-indent: 30px;
    margin: 15px 0px;
}
ul {
    margin-top: 20px;
    margin-left: 40px;
}