@charset "UTF-8";

:root {
    --cor01: #222542;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--cor01)
}

.pai {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}
h1 {
    margin: 15px 0px;
}