@charset "UTF-8";

:root {
    --cor01: #222542;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--cor01)
}

.container {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
    width: 600px;
    border-radius: 10px;
}
h1 {
    font-variant: small-caps;
    font-size: 40px;
    margin: 15px 0px;
}
button {
    border: none;
    background-color: #222542;
    color: aliceblue;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover {
    background-color: #2b2f58;
}
button:active {
    background-color: rgb(34, 34, 131);
}
.timer {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 3em;
}